@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap');

@font-face {font-family: "Lexia W03 Black";
  src: url("../fonts/font-face/c019dc19bf19d81c311633158034679c.eot"); /* IE9*/
  src: url("../fonts/font-face/c019dc19bf19d81c311633158034679c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/font-face/c019dc19bf19d81c311633158034679c.woff2") format("woff2"), 
  url("../fonts/font-face/c019dc19bf19d81c311633158034679c.svg#Lexia W03 Black") format("svg"); /* iOS 4.1- */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family:"Lexia W03 Black" !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#t4-mainnav, #t4-header {
    background-color: #303030 !important;
    display: flex;
    min-height: 80px;
    z-index: 2000;
}
#t4-footnav {
    background-image: url(/images/design/smari-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: scroll;
}
.t4-content{
        background-image: url(/images/design/smari_content_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgb(57,187,161);
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}
.mod-player-2:before {
    background-color: inherit;
    background-image: none;
    background-size: cover;
    background-position: center center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
}
.t4-footnav .footnav-wrap .t4-module {
    border-left: none;
    padding: 1.5rem 1.25rem;
    height: inherit;
}
.t4-footnav .footnav-wrap .col:last-child .t4-module {
    border-right: none;
}
.t4-megamenu div.dropdown-menu li > a, .t4-megamenu div.dropdown-menu li > .nav-link, .t4-megamenu div.dropdown-menu li .dropdown-item {
    color: var(--mainnav-link-color);
}
.t4-footnav .footsub {
    display: ;
}
.t4-module {
    padding: 0;
    margin-top: inherit;
}
.t4-footnav .t4-module .module-title {
    color: #fff;
    font-family: var(--body-font-family);
    border: 0;
    font-weight: 900;;
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}
.t4-footnav {
    padding-top: inherit;
    }
.t4-footnav .copyright-wrap {
    border-top: none;
    padding: 3rem 0;
}
.t4-section-2 {
    background-image: url(/images/design/smari-red.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}
.t4-section-4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}
.t4-section-5 {
    background-image: url(/images/design/smari-yellow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}
.mod-player-2 .item-inner .article-content {
    background: #303030;
    padding: 1.5rem 2.25rem;
}
.mod-articles-cw .articles-readmore {
    margin-bottom: 0;
    display: inline-block;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0;
    text-align: center;
    width: 40%;
    cursor: pointer;
    color: #fff !important;
    background-color: #ff4742;
    padding: 12px;
    font-weight: inherit !important;
    font-size: 16px;
    height: inherit;
    margin-left: 0px;
    margin-top: -1.5rem;
}
.t4-topbar {
    --body-link-color: #fff;
    --body-link-hover-color: rgba(255,255,255,0.8);
    background-color: var(--color-primary);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.acm-hero.style-1 .hero-item h1, .acm-hero.style-1 .hero-item .h1 {
    color: #fff;
    margin-bottom: 0;
    font-size: 53px !important;
    margin-top: 0;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: inherit;
}
.acm-hero.style-2 {
    border-radius: 0;
    background-size: cover;
    background-position: center center;
    padding: 5rem 0 5.5rem;
    position: relative;
}
.tagline{
    font-size: larger;
    color: var(--color-light);
}
.award, .duration{
color: var(--color-light);
}
.acm-hero.style-2 .btn{
    margin-top: 1.75rem;
}
.acm-hero.style-2 .hero-item h1, .acm-hero.style-2 .hero-item .h1 {
    margin-bottom: 1.5rem;
}
.mod-player-2 .item-inner {
    flex-direction: column;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    height: 100%;
    background: transparent;
}
.owl-carousel.owl-drag .owl-item {
    padding: 1rem;
    display: flex;
}
.t4-section-2.mod-articles-cw .articles-readmore a {
    color: var(--color-light)!important;
    font-weight: inherit !important;
}

.t4-section-2 .mod-articles-cw .articles-readmore {
    background-color: var(--color-danger);
    color: var(--color-light)!important;
}
.t4-section-2 .mod-articles-cw .articles-readmore a {
    color: var(--color-light)!important;
}
.t4-section-4 .mod-articles-cw .articles-readmore {
    background-color: var(--color-primary);
    color: var(--color-light)!important;
}
.t4-section-4 .mod-articles-cw .articles-readmore a {
    color: var(--color-light)!important;
}
.t4-section-5 .mod-articles-cw .articles-readmore {
    background-color: var(--color-warning);
    color: var(--color-light)!important;
}
.t4-section-5 .mod-articles-cw .articles-readmore a {
    color: var(--color-light)!important;
}
.t4-section-2 .mod-player-2 {
    --border-color: #F2F2F2;
    padding-top: 0px;
    position: relative;
}
.mod-player-2 {
    --border-color: #F2F2F2;
    padding-top: 3rem;
    position: relative;
}
.info-desc {
    color: var(--color-light)!important;
}
.mod-player-1 .item-inner {
    background: var(--color-black)!important;
    height: 100%;
}
.list-short-info {
    margin-bottom: inherit;
}
.mod-player-1 .article-content {
    padding: 1.25rem 1.25rem;
}
.short-info-player .link-heading {
    color: var(--color-light)!important;
}
.coaches .articles-title a{
    color: var(--color-light)!important;
}
.acm-features.style-1 .feature-content > h2, .acm-features.style-1 .feature-content > .h2 {
    margin-top: 0;
    margin-bottom: 2.25rem;
    max-width: max-content;
    text-transform: uppercase;
    font-weight: 600;
}
.acm-features.style-1 .feature-content {
    max-width: max-content;
    margin-bottom: 2.25rem;
    padding: 3rem;
}
.btn.btn-outline-primary {
    border-color: var(--color-black);
    background: var(--color-black);
    color: var(--color-light);
}
.btn.btn-outline-primary:hover {
    border-color: var(--color-black);
    background: var(--color-black) !important;
    color: var(--color-text);
}
.btn{
    outline: none !important;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}
.detail-team-wrap .top-info .item-image img {
    position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    z-index: 2;
}
.no-component .t4-main-body{
   
}
.social-inner a{
    color: #fff !important;
}
.green #t4-main-body {
    background: var(--color-primary);
}
.convertforms .cf-content-img img {
    position: relative;
    max-width: 12rem;
    padding: 9px;
    display: inline-block;
}
.convertforms .cf-col-medium-10 h1, h2, h3 {
    color: #fff !important;
}
.cf-content-text
.green .t4-main-body {
    padding-top: 0.5rem!important;
    padding-bottom: 3rem!important;
        background-image: url(/images/design/register.svg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.cf-list  .smari_consent{
    color: #fff !important;
    font-size: larger !important;
}
.t4-main-body {
    padding: 1rem 0;
}
.footer-bottom {
    background-image: url(/images/design/cork-texture.png) !important;
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
}
.category-module a {
    color: var(--color-light);
}
.btn, #acym_wrapper .acym__front__archive #acym__front__archive__search button, div.acym_module_form input.btn, .blog-list .item-readmore a {
    font-family: inherit;
    font-weight: INHERIT;
    color: #FFF !important;
    }
.convertforms .cf-input {
    font-size: 1.4em;
    font-weight: 600;
}
.t4-header-r .form-search .form-control:focus {
background-color: rgb(255,251,243,0.1);
border: none;
color: var(--color-light);
outline: none;
}
.short-info-player .t-position {
    color: var(--color-light);
    font-weight: 700;
    text-transform: uppercase;
}
.t4-wrapper {
    background: var(--body-bg-color);
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    margin: auto;
    max-width: inherit;
}
.not-at-top #t4-header.t4-sticky {
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(0 0 0 / 8%);
    margin-top: -2px;
}
.footer-inner .acm-social .social-inner {
    border-left: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: inherit;
    padding-left: inherit;
}
.footer-inner .social-follow-wrap .fa {
    color: #303030;
    width: 3rem;
    line-height: 2rem !important;
    text-align: center;
    padding-left: 1rem;
    padding: 0.5rem;
    font: normal normal normal 2rem/1 FontAwesome;
    font-size: 1.5rem;
    }
.category-module li {
    list-style: none;
    font-size: initial;
    padding: 0;
    margin: 0;
}
.category-module li a:before {
    display: none;
}
.category-module li a {
    display: block;
    padding: 0.25rem;
    padding-left: inherit;
    position: relative;
}
input, input.form-control, #acym_wrapper .acym__front__archive #acym__front__archive__search input, div.acym_module_form input[type=email], div.acym_module_form input[type=text] {
    font-family: inherit;}
.convertforms .cf-response {
    padding: 2rem;}
.mod-player-1 .title h3, .mod-player-1 .title .h3 {
    text-transform: inherit;
    font-weight: inherit;
}