<!-- FOOTER BLOCK -->
<div class="footer-wrap">
  <div class="footer-inner">
    <div class="footsub">
      <jdoc:include type="modules" name="footsub" style="raw" />
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-inner">
      <div class="container-fluid container-xl">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 footnav-wrap">
          <div class="col">
            <jdoc:include type="modules" name="footnav-1" style="JAxhtml" />
          </div>

          <div class="col">
            <jdoc:include type="modules" name="footnav-2" style="JAxhtml" />
          </div>

          <div class="col">
            <jdoc:include type="modules" name="footnav-3" style="JAxhtml" />
          </div>

          <div class="col">
            <jdoc:include type="modules" name="footnav-4" style="JAxhtml" />
          </div>

        </div>
      </div>

      <div class="copyright-wrap">
        <div class="container-fluid container-xl">
          <div class="row v-gutters">
            <div class="copyright col-12 col-md-8">
              <jdoc:include type="modules" name="copyright" style="raw" />
            </div>

            <div class="footsocial col-12 col-md-2 d-flex justify-content-end">
              <jdoc:include type="modules" name="footsocial" style="raw" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // FOOTER BLOCK -->  